*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  margin: auto;
  background-color: $clr-light-gray;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

@media screen and (min-width: $break-medium) {
}

@media screen and (min-width: $break-desktop) {
}
